[2019-12-12 02:48] vanbenschoten opened #2 "Issue with Cython -> gcc dependency on Mac install"
The re-design currently leverages Cython, which in turn requires openmp for parallelization. The version of gcc installed on Mac is actually clang without openmp, so the code cannot compile properly. I believe updating to a different version of gcc (w/openmp) should do the trick, but unfortunately I can't figure out how to update setup.py to use a different version of gcc (maybe just change enviro

[2019-12-20 01:40] vanbenschoten opened #3 "Documentation review"
@tylerwmarrs I really love the documentation: I think it's laid out in a very easy-to-follow fashion and captures the necessary details. I realize there are a few sections yet to add that are pretty critical (installation, examples); I had a couple of other thoughts as well:

1.  The quickstart guide could be made a little more user-friendly, primarily through more detail. That said, are we target

[2019-12-24 02:14] #2 closed, assigned to nobody

[2020-02-24 11:29] #3 closed, assigned to vanbenschoten

[2020-03-01 01:42] vanbenschoten opened #7 "Updated matrix profile codebase"
@ltbd78 @nikita-smyrnov MPF has released the latest Matrix Profile codebase under our own GitHub repo. The issues you raised regarding nan values and non-functional annotation vectors have been resolved.

[2020-03-02 17:03] tylerwmarrs opened #8 "Documentation - API - Return output is poorly formatted"
**Describe the bug**
Some of the output of the documentation is formatted poorly. This is because it is a verbose dictionary output. While this issue only covers one example, there are several places where the API docs need cleaned up.

**To Reproduce**
Steps to reproduce the behavior:

Simply browse to the documentation. An example issue can be found here:

http://matrixprofile.docs.matrixprofile

[2020-03-02 18:59] tylerwmarrs opened #9 "Discover - Clusters (KMedoids, DBScan, Hierarchical)"
**Is your feature request related to a problem? Please describe.**
MPDist provides a distance between two pairs of time series. By itself, it is not really useful. It would be ideal to have a way to actually cluster the time series.

**Describe the solution you'd like**
Taking the MPDist and a clustering algorithm, such as KMedoids, will provide more insight into many time-series data. The goal is

[2020-03-06 14:48] giapippa opened #10 "PyCharm - No legend available in matrixprofile.analyze() output figures"
I can't see the legend in plots of the matrixprofile.analyze() function:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/17180372/76093677-b4828180-5fc1-11ea-92c1-1b50dc090502.png">

I am running Python 3.7 on Mac OS with matplotlib, backend="Qt5Agg", on the console of PyCharm.

[2020-03-06 17:22] nikita-smyrnov commented on #7
@vanbenschoten I think the annotation vectors still haven't been added in? I was looking through the codebase and couldn't find any reference to them. Could you point me to the specific file(s) where they are mentioned? Thanks!

[2020-03-06 20:40] tylerwmarrs commented on #10
@giapippa Did you try to use any other backends? This seems to be an issue very specific to your coding environment. I'm not too familiar with using PyCharm.

[2020-03-06 20:59] tylerwmarrs opened #11 "Annotation Vectors"
Annotation vectors provide a way to "filter" a matrix profile to avoid noisy results. In essence, an annotation vector is a vector containing values ranging from 0 to 1 where 0 means "less desirable" and 1 means "very desirable". The length of the annotation vector is the same as the matrix profile and the annotation vector is applied to a matrix profile to create a "corrected matrix profile" (CMP

[2020-03-06 21:01] tylerwmarrs commented on #7
@nikita-smyrnov Annotation vectors are not implemented right now. Please see issue #11. I would love to get your feedback.

[2020-03-10 14:34] giapippa commented on #10
I tried also MacOSX and TkAgg but nothing changes; I guess its a problem of PyCharm with Mac OS.

[2020-03-11 11:23] LlewellynS96 opened #12 "Misaligned Exclusion Zones"
There is an off-by-one error when calculating the exclusion zones. I noticed the error while testing my own implementation against this repository.  I believe the issue can be fixed by changing
https://github.com/matrix-profile-foundation/matrixprofile/blob/f0d354fa8363911f860fbf378c78f7ce05ef41d4/matrixprofile/algorithms/cympx.pyx#L81
to
`for diag in prange(minlag+1, profile_len, num_threads=n_jo

[2020-03-11 12:40] tylerwmarrs commented on #12
@LlewellynS96 Thank you for raising your concerns with this potential bug. It is difficult to understand if this really is an issue because this implementation, including the tsmp, go-matrixprofile, and the original authors work all agree. Are you able to provide source code or a detailed example with data on how to reproduce the issue you see?

[2020-03-12 11:22] LlewellynS96 commented on #12
@tylerwmarrs thank you for getting back to me. I will try to provide you with an MCVE:

[code]
In this case `result['pi']` is equal to `[1 0 1 2 3]`.  According to my understanding of the original paper, `result['pi'][0]` should be greater than 1 and `result['pi'][1]` should be greater than 2 (if the exclusion zone is calculated as `m/4`.

The result that I get for the matrix index using my own im

[2020-03-12 14:23] tylerwmarrs commented on #12
I see the problem. You are comparing your STOMP algorithm versus a different algorithm - MPX. MPX is the default algorithm used when performing an exact computation via "mp.compute". It is annotated in the API documentation. There are significant differences between MPX and STOMP primarily:

* STOMP uses FFT and MPX does not
* MPX is written in Cython for precision gains. Pure Python loses precisi

[2020-03-12 14:48] LlewellynS96 commented on #12
@tylerwmarrs I believe this issue is fundamentally related to the matrix profile (and the matrix profile index), and is independent of any algorithm (or programming language.)

In the example that I have posted above, your implementation produces a result that indicates that the nearest neighbour of one subsequence is the subsequence directly adjacent to it. If an exclusion zone of 1 is used (`m*0

[2020-03-13 12:28] tylerwmarrs commented on #12
I do think that this is an issue after further investigation. The original author's Matlab implementation contains this same issue. My implementation coincidentally carried it over as well. Since this bug affects multiple libraries and does not significantly affect results, I feel it is lower on my priority list. We at MPF attempt to deliver the same answers across all libraries (for better or wor

[2020-03-13 17:30] LlewellynS96 commented on #12
I think that makes perfect sense.

The next couple of weeks are a bit hectic at work, but I will see what I can do, and as soon as I've got something ready, then I'll create a PR. I'd love to contribute to this community!

[2020-03-14 14:24] tylerwmarrs commented on #10
@giapippa Are you able to fork and create a pull request with a fix? Given this is so specific to your environment, it will be difficult for me to recreate and debug this issue.

[2020-03-29 01:41] tylerwmarrs opened #13 "Windows Subsystem for Linux - Core Dumped"
**Describe the bug**
When running any Cython code in WSL it errors out with "Illegal instruction (core dumped)". This is due to major differences in the binary wheel of a **true** Linux versus WSL.

**To Reproduce**
Steps to reproduce the behavior:
1. install matrixprofile via pip on WSL
2. try to run the following
[code]

Result is an error:
[code]

**Expected behavior**
This should give the prof

[2020-03-29 01:46] tylerwmarrs commented on #13
The documentation should be updated to reflect this issue and guide WSL users to install from source instead of relying on the binary installation via pip.

[2020-03-29 16:49] tylerwmarrs commented on #13
After further investigation, the proper fix is to change the C compile flags.

[2020-03-29 16:55] tylerwmarrs commented on #13
This commit resolves this issue - d7ee9530bf09e266d44098625c272e32e38155ec

[2020-03-29 16:55] #13 closed

[2020-03-31 09:29] #7 closed

[2020-03-31 14:08] #8 closed

[2020-04-06 13:56] nikita-smyrnov commented on #11
Is there a reason as to why these annotation vectors were not implemented/reused from the previous Python library? They seem to be present in both the R and Go packages, so is this a feature that will be added in soon or will it take longer to develop?

[2020-04-06 15:38] tylerwmarrs commented on #11
@nikita-smyrnov The original Python library was not used during the creation of this library at all. This is due to some political and technical decisions made at MPF. Some features existed in the R and Golang library prior to the MPF being established (annotation vectors being one feature). This Python library was written from the ground up introducing fundamental concepts that we feel are needed

[2020-04-06 16:00] nikita-smyrnov commented on #11
Our use cases of annotation vectors is related to process mining (i.e. data mining and time series analysis but for business/event logs). I'm afraid I can't go too much further as some of the information in our use case may be confidential.

I'll fork the project and contribute to this repository. I'll submit a pull request when I have a finalized and unit-tested version of the annotation vector f

[2020-04-12 00:59] tylerwmarrs opened #15 "Multi-Dimensional Matrix Profiles"
**Overview**
Right now all of the algorithms implemented support one-dimensional matrix profiles. There have been a handful of requests on our discord channel asking for multi-dimensional support. This issue is used to keep track of the request and give an opportunity to the community for contributions.

**Todos**
- Data structure supporting multiple dimensions
- Motif discovery
- Discord discover

[2020-04-13 17:53] nikita-smyrnov commented on #11
Alright, I've submitted a pull request that should be compliant with the specifications on the main website. Let me know if any other edits are needed (note that the unit tests have been cross-checked with the Go MatrixProfile library to make sure that the same results are generated across multiple MatrixProfile libraries).

[2020-04-13 21:10] JulianFN opened #18 "Where is a good place to ask questions about the library and general place for help on debugging matrix profile related code?"

[2020-04-13 21:57] tylerwmarrs commented on #18
If you have an issue specifically with this library, github is a good place to create an issue. Otherwise we have a public discord server for general questions.

See this link

https://matrixprofile.docs.matrixprofile.org/help.html

[2020-04-15 15:39] tylerwmarrs commented on #18
I'm closing this issue as there is no bug/issue to solve. We started a conversation on Discord covering use case.

[2020-04-15 15:39] #18 closed

[2020-04-17 21:18] tylerwmarrs commented on #11
PR #16 resolves this issue.

[2020-04-17 21:18] #11 closed

[2020-04-18 11:08] tylerwmarrs commented on #9
#20 addresses hierarchical clustering. I'm not sure if the other implementations make sense.

[2020-04-23 15:28] tylerwmarrs commented on #11
@nikita-smyrnov v1.1.0 is released on PyPi. See https://github.com/matrix-profile-foundation/matrixprofile/blob/master/docs/Releases.md

[2020-04-27 08:45] Ninimama opened #23 "Snippet: A Request_and_Probable Bug(?)_and_Elaboration"
Hello,

Thanks for creating this amazing package. It helps others to use it for different applications.
I have three things to discuss regarding the snippets:

(1) It would be great if the locations of **all** snippets could be returned as well. (By that, I mean all the subsequences that are close to a snippet which is considered as the representative of those subsequences).

(2) "Probable" Bug: I

[2020-04-28 02:34] tylerwmarrs commented on #23
I have not lost sight of this issue and plan to create a few open issues that I would love to have you contribute to.

1. Add support for neighboring snippet indices
2. Add visualization for snippets

Would you be interested in contributing?

In regards to your issue, please upload any relevant data (if possible) or data visualizations. This will help paint the picture.

The window size is the sam

[2020-04-28 05:09] coljac opened #24 "Gracefully handle zero window size, zero data"
**Describe the bug**
If the time series passed to matrix profile is all zeroes or any constant, or a zero window-size is passed in, errors are raised which do not make the cause obvious.

**To Reproduce**
`profile, figures = mp.analyze(np.zeros(500))` -> `TypeError: 'float' object is not subscriptable`

[code]

**Expected behavior**
The code raise a ValueError, or produce some output that is conco

[2020-04-28 16:12] tylerwmarrs commented on #24
Thank you for pointing this out. We plan to integrate a fix soon.

[2020-04-30 01:46] tylerwmarrs opened #25 "Snippets - Add support for neighboring snippet indices"
Currently, the snippets results only returns the index of the snippet. However, it was requested to have the all neighboring snippet indices to be returned.

#23 Has some more context. Basically, a new key "neighbors" will contain the indices.

[2020-04-30 01:48] tylerwmarrs opened #26 "Snippets - visualization"
Right now there is not a default plot for snippets results. #23 brought this to our attention as a desired feature. The paper has some good example plots we could try to recreate.

https://www.cs.ucr.edu/~eamonn/Time_Series_Snippets_10pages.pdf

[2020-04-30 01:49] tylerwmarrs commented on #23
@Ninimama I created the open issues. Are you able to provide code for the feature requests?

[2020-05-03 14:18] DemianD opened #27 "Bug when calculating snippets with a small window size"
**Describe the bug**
When calculating snippets, an error is thrown

**To Reproduce**
[code]

**Expected behavior**

The snippets should be calculated correctly using all allowed snippet sizes

**Error log**

[code]

**Desktop (please complete the following information):**
 - OS: macOS Catalina
 - Python version: Python 3.7.3
- Matrixprofile version: 1.1.0

**Additional context**

The error is also

[2020-05-03 14:31] DemianD commented on #27
Second example with snippet size 201:

**To Reproduce**

[code]

**Error log**

[code]

[2020-05-03 14:49] tylerwmarrs commented on #27
@DemianD thank you for the bug report and examples. I am not sure how soon I can look into this issue. Are you willing to submit a pull request to fix this issue?

[2020-05-03 15:06] DemianD commented on #27
I'm currently debugging why this is happening, but I'm not sure how to fix this.

https://github.com/matrix-profile-foundation/matrixprofile/blob/b71472e604c6337d1992651065dbe394b08b4ddc/matrixprofile/algorithms/mpdist.py#L100-L106

The `subseq_num` is sometimes zero or even negative, and thus nothing is added to the distances array. Calculating `np.array(distances)` of an empty array returns only

[2020-05-03 16:44] tylerwmarrs commented on #27
@DemianD are you on our discord channel? I would like to have the ability to chat with you more directly. If you are, please send me a direct message.

[2020-05-03 18:39] Ninimama commented on #23
Hi @tylerwmarrs,

Sorry for my late response.

I would love to contribute; however, I am a newbie in GitHub and programming. I think there is a difference between "coding" and "efficient & stylish coding."

Although I mostly look for the applications of different methods in my field (electrical engineering), I am really eager to learn more about using GitHub, [efficient] coding, and contributing t

[2020-05-03 18:43] Ninimama commented on #25
Hi @tylerwmarrs,

I will try to see if I am intelligent enough to understand the code and add the code for the neighbors. I will let you know if I write the code.

Best,
Nima

[2020-05-03 18:48] Ninimama commented on #26
Hi @tylerwmarrs,

I think this issue depends on issue #25 as well. After extracting sequences similar to the selected snippets, we can do the plot. Plotting sequences similar to the snippets give the reader a rough idea about the frequency of their appearance in the time series data.

Best,
Nima

[2020-05-04 14:21] tylerwmarrs commented on #23
The best way to reach me directly is through our Discord channel. https://discordapp.com/invite/sBhDNXT

You can submit a partial pull request for any fix and I can help tidy up the code and documentation is necessary.

[2020-05-04 14:31] tylerwmarrs opened #29 "Documentation - Snippets Tutorial"
Snippets algorithm exists in the library, but no example of how to use it exists in the documentation. The tutorial should cover the following:

1. High-level layman overview of a "snippet"
2. A practical use case (real-world data)

[2020-05-11 02:19] tylerwmarrs opened #32 "Optimize cycore moving mean and std"
https://github.com/matrix-profile-foundation/matrixprofile/blob/d24fa7400813705e7fb651d4ea80676f8c3fbf8b/matrixprofile/cycore.pyx#L151

Lines 151 - 158 can be combined into a single loop.

[2020-05-15 05:32] #32 closed

[2020-05-17 12:57] #27 closed

[2020-06-14 01:58] vanbenschoten commented on #23
@Ninimama I wanted to reach back out regarding this issue. Please let us know how we can assist you in making a pull request! We greatly appreciate your help :)

[2020-06-19 16:40] Ninimama commented on #25
@tylerwmarrs
@vanbenschoten

Very sorry for my very late response. I've been working on my research.
As a follow-up, here I am sharing with you the result of snippets on my 8760 samples of hourly data recorded for a year. (I don't know how to share with you the data just in case you need it)

`t_s=time.time()
snippet_dict_2018 = matprof.discover.snippets(data_hourly_1d,snippet_size=24,num_snippets

[2020-06-19 16:49] Ninimama commented on #23
@vanbenschoten

Very sorry for my very late response. I've been working on my research. I am still struggling for publishing my first paper :)

I provided some of the results I obtained when I was using a matrix profile in issue #25

I hope I can finish my paper soon and get back here to work on this.

Is there any good tutorial in helping me understand the basics of Github and how it works? like

[2020-07-03 07:10] elopezfune opened #33 "AttributeError: module 'matrixprofile' has no attribute 'datasets'"
I installed matrixprofile a week ago and I am trying to reproduce the example in the documentation
https://matrixprofile.docs.matrixprofile.org/examples/ECG_Annotation_Vectors.html
but as soon as I arrive to

[code]

I get the error:

[code]

I even tried mp.compute and I got the error

`AttributeError: module 'matrixprofile' has no attribute 'compute'`

Am I doing something wrong or are there mis

[2020-07-03 11:51] tylerwmarrs commented on #33
It appears that you are using a different library having the same namespace. What is the output of pip freeze?

[2020-07-03 11:55] elopezfune commented on #33
The output is
matrixprofile==1.1.2
matrixprofile-ts==0.0.9

[2020-07-03 11:58] tylerwmarrs commented on #33
Yes, this is the problem. matrixprofile-ts has the same namespace and is more than likely the library being imported. Either create a new conda/virtual environment for matrixprofile or uninstall matrixprofile-ts. The latter library is no longer maintained.

[2020-07-03 14:07] elopezfune commented on #33
I did but now it gives me another error

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-8-65f024cc426b> in <module>
     10 ax.plot(np.arange(len(vals)),vals, label = 'Test Data')
     11
---> 12 profile, figures = mp.analyze(vals)

AttributeError: module 'matrixprofile' has no a

[2020-07-03 15:30] tylerwmarrs commented on #33
Please post the imports, pip freeze results, mp.__dict__ output, and mp.__version__ output.

[2020-07-03 15:38] elopezfune commented on #33
I am reproducing the example in https://github.com/matrix-profile-foundation/article-matrix-profile-intro/blob/master/Matrix%20Profile%20Example.ipynb

[2020-07-03 15:43] tylerwmarrs commented on #33
What about pip freeze? This still seems to be an environmental issue.

[2020-07-03 15:45] elopezfune commented on #33
the pip freeze gives matrixprofile==1.1.2
pip freeze results gives the same matrixprofile==1.1.2

[2020-07-03 16:57] tylerwmarrs commented on #33
Please try the following:

1. create a virtual environment

[code]

2. activate the environment

[code]

3. install matrixprofile

[code]

4. run this script within your virtual environment
[code]

You should not receive any errors when going through these steps unless there is some larger environmental issue. Maybe one issue is that your notebook does not have the same environment as you expect?

[2020-07-04 14:56] elopezfune commented on #33
Well, I tried your procedure and I am still getting

(mptest) elopezfune@elopezfune:~$ python3 '/home/elopezfune/Téléchargements/legend.py'
Traceback (most recent call last):
  File "/home/elopezfune/Téléchargements/legend.py", line 5, in <module>
    profile, figures = mp.analyze(ts)
AttributeError: module 'matrixprofile' has no attribute 'analyze'

[2020-07-04 15:33] vanbenschoten commented on #33
I'd recommend un-installing matrixprofile-ts, as it's probably a namespace
collision between packages.

On Sat, Jul 4, 2020, 9:56 AM Ernesto Lopez Fune <notifications@github.com>
wrote:

[2020-07-07 20:39] tylerwmarrs commented on #33
@elopezfune do you have any further updates on this issue? It may be easier to debug in our Discord chat. You can find a link within the code repository Readme

[2020-07-07 20:42] tylerwmarrs commented on #23
@Ninimama there are several resources available to get you up to speed via Google. I don't know of any specific tutorials that are preferred. Do you still have interest in contributing to this issue?

[2020-07-09 12:49] elopezfune commented on #33
I am re-installing everything from the beginning

[2020-07-09 13:07] elopezfune commented on #33
So, I uninstalled matrixprofile and re-installed everything from the beginning. Now ModuleNotFoundError: No module named 'matrixprofile' when importing
I think I will look for other alternatives to Motif discovery
Thanks for the help anyways!

[2020-07-09 13:29] tylerwmarrs commented on #33
Thank you for the update. Good luck.

[2020-07-09 13:29] #33 closed

[2020-07-16 23:14] Ninimama opened #34 "POTENTIAL BUG: wrong similarity found by MP"
Hi,

I recently found sth strange while using a matrix profile.

I used the data (1d-array: 8760 hourly data between 0 and 1, so not normalized) saved into this CSV file:
[https://drive.google.com/file/d/1dZgaEZjD2HsnXu_wWaGKPCPRbDJ1_dty/view?usp=sharing](url)

**And here is my simple code:**

`
#mydata: read from csv file (with length: 8760)
H=24
profile = mp.compute(mydata, windows=[H])
'
![imag

[2020-07-17 01:07] tylerwmarrs commented on #34
@Ninimama would you mind mentioning what the issue was? I imagine that you resolved the issue as you closed it.

[2020-07-17 04:59] Ninimama commented on #34
Actually I didn't resolve the issue. But I couldn't understand whether it is a bug or not.

**My main concern is:**
Does MatrixProfile find the best matches based on the normalized subsequences? Because I realized that profile['mp'] is the distance between normalized subsequences. If yes, it means it doesn't take into account the actual magnitude in the patterns. Is that right? So, if I want to fi

[2020-07-17 05:08] Ninimama commented on #34
**NOTE: ts_i = ts[i:i+H], where H is the window 24.**

My data (accessible via the provided link in the previous post) is a time series with length 8760. the values are between 0 and 1. In my data, there is a range where all values are zeros: mydata[421:450].

According to the result: **profile['pi'][45] = 425** I attached the plot of ts_45 and ts_425 in the previous post. And, it seems a little b

[2020-07-17 15:43] tylerwmarrs commented on #34
The matrix profile uses z-normalization, but it also compares sequences in a sliding window fashion. Magnitude should be a factor here. There is a known issue with the formulation when there is a constant value over the window size causing nans and infs. Generally, adding some random noise to your time-series samples solves this issue.

Will you please respond to/attempt the following:

1. Are you

[2020-07-17 16:10] tylerwmarrs commented on #9
Hierarchical clustering is provided in the library. Instead of trying to manage clustering algorithms, approaches to using MPDist with other algorithms are addressed here:

https://matrixprofile.org/posts/clustering-computing-the-pairwise-distance-matrix/
and
https://matrixprofile.org/posts/hdbscan-clustering-with-mpdist/

[2020-07-17 16:10] #9 closed

[2020-07-17 18:18] tylerwmarrs opened #35 "TravisCI Build Failing - CodeCov requires to be ran with Python 3.6+"
The CodeCov task in the TravisCI build is failing due to CodeCov requiring version 3.6+ of Python.

[2020-07-17 19:12] Ninimama commented on #34
Thanks for the clarification.

In fact, I am at the exploration stage, and yes, I am trying to find some sort of repeated patterns. I am trying to see if it makes sense to cluster 365 daily sequences of this 8760-hr data which can be seen in a 365 days-by-24 hours format. Because, according to MatrixProfile, the closest pattern to each daily sequence is not necessarily start at the beginning of a

[2020-07-17 19:23] tylerwmarrs commented on #34
_Because, according to MatrixProfile, the closest pattern to each daily sequence is not necessarily start at the beginning of a day at 00:00 hr._

Yes, it will not always be exactly at the start/end of a day. It primarily depends on the data.

If I understand you correctly, you want to simply cluster many time series together. In this case, you should consider using clustering with MPDist. Coincid

[2020-07-17 20:05] Ninimama commented on #34
That's correct. I want to cluster many time series together. But the problem with MPDist is that it matches sequences according to their similarity of subsequences regardless of their order which is not desirable for my case. So, I am looking for sth like the one mentioned in this paper (section 3.9):
[https://www.cs.ucr.edu/~eamonn/Top_Ten_Things_Matrix_Profile.pdf
](url)

I think it is different

[2020-07-17 20:07] Ninimama commented on #34
It seems the link I provided isn't working when I clicked on it. So, here is the name of the paper:

The Swiss Army Knife of Time Series Data Mining: Ten
Useful Things you can do with the Matrix Profile and
Ten Lines of Code

[2020-07-17 20:35] tylerwmarrs commented on #34
I understand where you are heading now. You basically tried this approach?

![image](https://user-images.githubusercontent.com/18449075/87828519-b814f780-c842-11ea-8ee9-f72d70c1e09f.png)

If order matters and you are trying to handle warping windows, dynamic time warping may be a good approach. From my experience when you think order matters and that MPDist may not give desirable results, it actua

[2020-07-17 20:50] Ninimama commented on #34
In fact, I tried DTW  and some of its variants. But I wanted to see if MatrixProfile can bring sth new to the picture. I will check out MSMD. So, if I understand correctly, what you are saying is that there might be a chance that MPDist gives some sort of interesting result. Am I right? So, I will give it a shot.

Thanks for sharing your viewpoints on this matter.

[2020-07-19 06:31] Ninimama commented on #34
[Update]
@tylerwmarrs
I tried to use MPDist by getting help from the tutorial.

Here is the code:

`
MPDist_vecform = pairwise_dist(mydata, window_size=8)
MPDist_matform =  squareform(MPDist_vecform)

`
And, I use Scikit Learn Hierarchical Clustering by using the obtained distance matrix with metric='precomputed'.  However, according to the result, it seems that MPDist ignores the actual value of

[2020-07-20 14:17] peterdhansen commented on #34
Would it work to use MPDist for clustering and then sort/recluster them by euclidean distance?

[2020-07-20 15:20] tylerwmarrs commented on #34
@Ninimama please see the attached PDF where I add some random noise to your time series. I think this will solve some of the issues you are seeing. I took your toy dataset and noticed there are many cases where there are constant values. This tends to impact the results. Adding the noise is a workaround.

Let me know if this looks more desirable.

[Nima Github Issue.pdf](https://github.com/matrix-

[2020-07-22 01:56] tylerwmarrs commented on #35
PR #36 resolves this issue.

[2020-07-22 01:56] #35 closed

[2020-07-31 01:30] tylerwmarrs opened #38 "Properly handle missing values in MPX algorithm (nan/inf)"
The stomp algorithm skips the nan/inf values when computing the matrix profile, however, mpx does not. We should handle missing values similar to stomp.

[2020-08-18 01:55] vanbenschoten commented on #10
Closing this issue for now. It can be re-opened if others encounter the same problem.

[2020-08-18 01:55] #10 closed

[2020-08-18 01:56] vanbenschoten commented on #12
@LlewellynS96 I realize we're a couple months past when you first raised this issue (and there's been that whole pandemic thing), but are you still interested in contributing a PR?

[2020-08-18 17:58] LlewellynS96 commented on #12
@vanbenschoten The pandemic has really turned things on its head, but I still plan to contribute a PR. I should be able to finish this up soon.

[2020-08-18 21:22] vanbenschoten commented on #12
No problem! Sounds good on our end.

On Tue, Aug 18, 2020, 12:58 PM LlewellynS96 <notifications@github.com>
wrote:

[2020-08-26 01:02] #24 closed

[2020-09-09 01:41] vanbenschoten commented on #23
Marking this closed as @LuYueee 's earlier work covers this.

[2020-09-09 01:41] #23 closed

[2020-09-12 02:40] Ninimama opened #45 "minor change?"
Hi,

After a long delay, working on my paper and studying git, I pulled and realized  Yue Lu had already modified the snippet algorithm.

As I was reviewing the code, I realized that he added a new key "neighbors" to the snippet dictionary; however, the docstring wasn't updated accordingly.

**If I find some small issues like that again, should I mention here or modify it (since I already have it

[2020-09-12 03:01] Ninimama commented on #34
Hi tylerwarrs,

I was finishing my paper and studying git (for my own sake and github)

Recently, I did a pull to change snippets, but after checking out the logs, I realize another person (Yui Lu) already modified the algorithm (Please note that the docstring needs to be updated accordingly since a new key "neighbor" is added to the dictionary)

=========================================

Thanks f

[2020-09-12 03:35] Ninimama commented on #29
Hi Tyler,

Do you mean sth like what you did in
[https://matrixprofile.docs.matrixprofile.org/Algorithms.html](url)
?

Just a brief explanation in simple words and using it on the same data to show the results?

Best,
Nima

[2020-09-12 03:44] tylerwmarrs commented on #45
Any code changes you want to make can be submitted via pull request.

[2020-09-13 12:40] tylerwmarrs commented on #29
No. This issue was resolved through our website repository. https://matrixprofile.org/posts/what-are-time-series-snippets/

[2020-09-13 12:40] #29 closed

[2020-09-14 18:45] Ninimama commented on #45
Hi, I did the pull request for updating docstring, but I now see LuYueee already addressed this issue as well.

[2020-09-14 18:45] #45 closed

[2020-09-16 20:00] peterdhansen opened #49 "Restrict Motif discovery to subsequences starting at specific locations"
When I am analyzing data that has daily fluctuations, I create a annotation vector that is 1 at midnight of each day and 0 everywhere else. This helps prioritize subsequences that start at midnight so each set of motifs have the same 24 hour structure.

The issue is that applying an annotation vector does not prevent the motif algorithm from picking a motif pair where one starts at midnight and th

[2020-09-17 00:06] vanbenschoten commented on #49
@peterdhansen I think that'd be a great contribution! We're looking to grow out more of our utility functions that go beyond the core algorithms. Feel free to make a PR and we can collaborate.

[2020-09-17 00:13] tylerwmarrs commented on #49
I think it would be good to have this functionality. As you mention, it seems fairly trivial to implement. The "harder" thing to do is to write a blog post explaining when the approach is useful. Are you interested in adding the code, unit tests, and a blog post? @peterdhansen

[2020-09-17 12:20] tylerwmarrs opened #50 "Documentation: History section"
@vanbenschoten would you be interested in writing a section within the README explaining how the library came into existence? Some highlights could include:

* matrixprofile-ts
* Target
* MPF (how we all met)

This may give the community some context into why matrixprofile-ts is not maintained anymore.

[2020-09-17 16:17] peterdhansen commented on #49
Sounds good. I'll give it a shot.
I should be able to contribute a blog post too. 😄

[2020-09-17 16:20] peterdhansen commented on #49
So, I just had another idea.
Would it be possible/useful to restrict the MP calculation to only consider certain indices?
I'm not sure what you would return for the MP then for the other indices.

[2020-09-17 16:32] peterdhansen commented on #49
Or is the snippets algorithm doing this (for regularly spaced index selection)

(Sorry for triple post)

[2020-09-17 17:27] vanbenschoten commented on #49
I think that'd be useful - in my original Hacker News for matrixprofile-ts
post I proposed doing something similar, and folks seemed really
interested.

On Thu, Sep 17, 2020, 11:32 AM Peter Hansen <notifications@github.com>
wrote:

[2020-09-17 18:25] tylerwmarrs commented on #49
We could use a similar approach to how missing data can be handled. The stomp implementation handles this righ now and we are working on adding similar functionality to mpx. Essentially, provide a boolean array of indices to process or skip. I envision it working like annotation vector. All other distances in the profile can simply return nan.

Another approach could be to require users to have va

[2020-09-17 18:28] tylerwmarrs commented on #49
Snippets does not do this. It identifies k representative snippets and n neighbors. It helps to answer what is common in the series of interest.

[2020-09-20 07:24] tylerwmarrs opened #51 "TravisCI reports successful release on PyPi when it really fails"
In some cases, pushing a release tag to Travis results in false positive success. When executing the wheel upload command to make it public on PyPI, the command is always returning success. We need to change this so that when it fails the pipeline reports a failure instead of success.

Here is an example of the command returning an error response from PyPi:
![image](https://user-images.githubuserc

[2020-09-20 07:38] tylerwmarrs commented on #51
Doing a little research on the Travis documentation reveals that having the upload command in the "after_success" block is causing the issue. If an error occurs in "after_success", it does nto cause the pipeline to fail.

URL: https://docs.travis-ci.com/user/job-lifecycle/#breaking-the-build

![image](https://user-images.githubusercontent.com/18449075/93706283-454a2600-faea-11ea-9908-b5d2c8b0e6de.

[2020-09-20 07:52] tylerwmarrs opened #52 "Deployment TravisCI: Add automated documentation release."
Right now all of the documentation located in the "docs" folder is manually released. It would be nice to have the docs automatically build and deploy when a new release is being built with TravisCI. This script is used for manual deployment:

https://github.com/matrix-profile-foundation/matrixprofile/blob/master/docs/deploy_docs.sh

[2020-10-16 17:55] tylerwmarrs commented on #49
@peterdhansen Any updates on this?

[2020-10-19 15:05] peterdhansen commented on #49
Sorry, not yet. I'll take a look in the next week or so.

[2020-10-22 05:03] peterdhansen commented on #49
Got my environment setup 😄

[2020-10-22 13:57] tylerwmarrs opened #57 "Update Readme about Python 2 Support"
With the majority of the Python community dropping Python 2 support, we need to clarify that we support Python 2 through version X. It is no longer maintained after.

[2020-11-12 20:15] #57 closed

[2020-11-12 20:15] #51 closed

[2020-11-12 20:15] tylerwmarrs commented on #51
This has been tested.

[2020-11-22 14:28] Bruno-Hanzen opened #58 "Multiprocessing"
**Describe the bug**
n_jobs argument not passed to "maximum_subsequence" and "skimp" in "Analyze_pmp"

**To Reproduce**
1. call mp.analyze with a time series and an n_jobs value with different n_jobs values
2. monitor cpu utilization on a multi-core system
3. whatever the n_jobs value, the task uses a single core, and execution time is the same
4. See error

**Expected behavior**
1. if n_jobs >1,

[2020-11-22 14:39] tylerwmarrs commented on #58
Thank you for reporting the issue. Do you intend to submit a pull request? If not, I will try to dig into this either today or tomorrow.

Keep in mind that with multithreading there is an upper bound where it actually hurts performance. It is relatable to the "too many cooks in the kitchen."

[2020-11-22 18:32] Bruno-Hanzen commented on #58
Pull request submitted.
In French, we say "Trop de cuisiniers gâchent la sauce" - Too many cooks spoil the broth

[2020-11-22 20:28] #58 closed

[2020-11-25 23:23] asuhag commented on #15
I would like to help out. Where and how can I start?

[2020-12-01 10:47] ChrisCarini opened #61 "Produce a source distribution file to pypi (tar.gz format)"
**Is your feature request related to a problem? Please describe.**
In some corporate environments, it's common to import external libraries into an internal repository for internal dependency resolution. In order to import `matrixprofile` for use, a `tar.gz` file is needed similar to the python libraries `requests` or `pytest`.

**Describe the solution you'd like**
A `tar.gz` file uploaded to pypi

[2020-12-01 16:35] tylerwmarrs commented on #61
Thank you for raising this issue. The packages distributed on PyPi are currently binary wheels to avoid complications with dependencies during installation. A "tar.gz" deployment is distributing the source code. It is my understanding that some companies prefer to have the "tar.gz" file purely to execute some vulnerability scanning on the code. The "tar.gz" is the older way of distributing a libra

[2020-12-10 14:49] tylerwmarrs commented on #61
@ChrisCarini are you able to provide more insight?

[2020-12-11 06:57] ChrisCarini commented on #61
Hey @tylerwmarrs - apologies, I missed the notification for your first detailed (thank you, by the way! :) ) response.

I'm confirming on the `.zip` vs `.tar.gz` - I _believe_ a `.zip` should be fine, but am waiting on confirmation.

I do know my employer is getting support soon for consuming the wheel format, however, it will require a longer process to bring in, as it will require our company to

[2020-12-18 20:09] vanbenschoten commented on #49
@peterdhansen just wanted to circle back and see if you're still interested in contributing.

Happy Holidays!

[2020-12-23 14:52] tylerwmarrs opened #64 "Add Python 3.9 Support"
This is a fairly easy task for anyone that has the time to handle it. Basically, we need to see if all of our unit tests work on Python 3.9 and update the TravisCI configuration within the code.

This is where the Python 3.9 version will live.
https://github.com/matrix-profile-foundation/matrixprofile/blob/master/.travis.yml#L14

[2020-12-23 14:54] tylerwmarrs commented on #61
@ChrisCarini did you determine if the zip file works for your employer? Either way, I think we should probably add the source distribution as described above.

[2020-12-23 14:55] tylerwmarrs commented on #50
@vanbenschoten Do you have any concerns with adding this?

[2020-12-23 16:50] lmmentel commented on #64
I'm happy to help with that, will report back once I run the test against 3.9.

[2020-12-23 17:05] ChrisCarini commented on #61
Hi @tylerwmarrs - confirmed with my employer, so long as it is a sdist, we should be able to bring it in for use.

We are working on a way to bring in wheels, although that is not as automated, yet (it requires manual approvals from our security and legal teams).

[2020-12-23 17:14] tylerwmarrs commented on #61
@ChrisCarini thank you for figuring this out. I'll update the title to reflect the need for a "zip" file.

[2020-12-23 17:17] lmmentel commented on #64
I have a working venv under python 3.9.1 and tried running the tests (from the master), following the code in travis, but all the tests failed trying to import a module that does not exist:

[code]

Is that module deprecated or not added yet? I'm happy to add it or update the tests. Let me know what's the plan.

[2020-12-23 17:21] ChrisCarini commented on #61
Thank you! And happy holidays!

[2020-12-23 17:22] tylerwmarrs commented on #64
@lmmentel
Take a peek at the installation documentation. This is pointing to Linux, but we have MacOS and Windows instructions too.

https://matrixprofile.docs.matrixprofile.org/installation/Linux_Installation.html#Install-matrixprofile-for-Development

At first glance, it looks like you did not run:

[code]

within the source directory.

[2020-12-23 17:37] lmmentel commented on #64
Thanks @tylerwmarrs, I did install  the package without the the `-e` flag and since `version.py` is outside of the package it couldn't import.

It seems all tests are passing under 3.9.1:
[code]

I'll update `travis.yml` and README.md and submit a PR .

[2020-12-23 18:00] #64 closed

[2020-12-23 18:02] tylerwmarrs commented on #61
@ChrisCarini happy holidays!

@lmmentel this is another easy one if you have time. :)

[2020-12-23 18:29] lmmentel commented on #61
Sure, it is actually possible to have both ".tar.gz" and ".zip" according to the [docs](https://docs.python.org/3/distutils/sourcedist.html#creating-a-source-distribution). I can add both options to travis build.

[2020-12-23 18:32] tylerwmarrs commented on #61
I started working on this myself as I found time to do it. :) It probably makes sense for me to tackle it since I have ownership of the TravisCI etc.

[2020-12-23 18:35] tylerwmarrs commented on #61
@lmmentel you actually cannot upload multiple archive types to PyPi. See screenshot:

![image](https://user-images.githubusercontent.com/18449075/103027375-55273b00-451b-11eb-969d-d768ff313e91.png)

[2020-12-23 18:37] tylerwmarrs commented on #61
@lmmentel you actually can only upload one archive type to PyPi. See screenshot:
![image](https://user-images.githubusercontent.com/18449075/103027499-991a4000-451b-11eb-97df-4f239b80aede.png)

[2020-12-23 18:41] lmmentel commented on #61
I didn't know PyPI had this limitation. Do you want me to update the PR or you want to take it from here?

[2020-12-23 18:42] tylerwmarrs commented on #61
I got it. Thanks for your help today! I only have to work a half day today and was going to tackle some of these "easy" issues. It is always nice to have help!

[2020-12-23 18:43] #61 closed

[2020-12-23 18:52] lmmentel commented on #61
Glad to be useful.

I guess I thought that PyPI is more like github releases allowing multiple source formats.

![image](https://user-images.githubusercontent.com/8989838/103028491-2aa7a300-4558-11eb-8e8c-1fd5c78a8480.png)

BTW @ChrisCarini any reason you couldn't use source distributions [released on github](https://github.com/matrix-profile-foundation/matrixprofile/releases/tag/v1.1.5)?

[2020-12-23 19:59] ChrisCarini commented on #61
Wow, that was a fast turn around! Thank you!!

@lmmentel - our internal process for python is automated from pypi. Manually bringing in other source releases from GitHub release would require similar manual security / legal review, unfortunately. Having it on pypi makes it much easier both to get started, and when we want to bring in the latest releases.

[2020-12-23 21:21] lmmentel commented on #61
Got it, thanks for the explanation.

[2020-12-26 17:24] tylerwmarrs opened #67 "Windows build failing v1.1.6"
The TravisCI build is failing for windows on v1.1.6. See the logs here:
https://travis-ci.com/github/matrix-profile-foundation/matrixprofile/builds/210616334

[2020-12-26 17:28] tylerwmarrs commented on #67
This issue seems to have details on how to resolve what I'm seeing in the logs:

https://github.com/joerick/cibuildwheel/issues/452

[2020-12-26 17:39] vanbenschoten commented on #15
@asuhag apologies! I just saw your message now (not sure why GitHub didn't alert me). Are you still interested in helping out?

[2020-12-26 18:37] tylerwmarrs commented on #67
Suggested fix for SSL and using certifi did not work:
https://travis-ci.com/github/matrix-profile-foundation/matrixprofile/jobs/464938200

https://github.com/jcrist/quickle/pull/58/files#diff-6ac3f79fc25d95cd1e3d51da53a4b21b939437392578a35ae8cd6d5366ca5485R31

[2020-12-26 19:07] tylerwmarrs commented on #67
This issue is resolved for Windows build by upgrading cibuildwheel to version 1.7.2

[2020-12-26 19:07] #67 closed

[2020-12-26 19:17] tylerwmarrs opened #68 "Python 3.9 Binary Wheels for Linux and MacOS"
Our wheel build system is reliant on the package cibuildwheel. Currently, our TravisCI script has some environment issues with Python and pulling down the required version of cibuildwheel for Python 3.9 support. The version required for cibuildwheel to build wheels on Python 3.9 is v1.6.2.

See these logs for Linux and MacOS issues:

https://travis-ci.com/github/matrix-profile-foundation/matrixpro

[2020-12-26 19:36] tylerwmarrs opened #69 "[Deprecated] Drop Python 3.5 Support"
While building for Python 3.5, the following deprecation warning appears. We should eventually remove support for Python 3.5.

[code]

[2020-12-26 19:59] tylerwmarrs commented on #68
This is fixed for Linux. I need a MacOS user to assist with the appropriate commands to install Python 3.8. @vanbenschoten are you able to assist here or @frankiecancino ?

Basically, I need to know how to get this to work:

[code]

My readings online show that this should install Python 3.8 and link it as the default. Can one of you test and let me know the result?

[2020-12-26 20:33] vanbenschoten commented on #68
@frankiecancino can you help here? I don't have a Mac any more.

On Sat, Dec 26, 2020, 1:59 PM Tyler Marrs <notifications@github.com> wrote:

[2021-01-01 18:13] vanbenschoten commented on #15
I'm starting to dig into this one (the paper, anyway). Here's a link to Yeh's original mstamp code in Python: https://github.com/mcyeh/mstamp/tree/master/Python

[2021-01-01 18:13] vanbenschoten commented on #15
We'll see how far I can get on the implementation.

[2021-01-05 03:22] frankiecancino commented on #68
For which Python version? @tylerwmarrs you mentioned issues with Python 3.9 in the first comment, but Python 3.8 in the second comment.

[2021-01-05 05:52] tylerwmarrs commented on #68
3.8 is a baseline version for cibuildwheel, a package used for building
binary python wheels, to be able to build version 3.9 binary wheels of
matrixprofile. You can use 3.8 or 3.9 to provide feedback. Please look at
the latest commits to the TravisCI for some clarity if needed.

On Mon, Jan 4, 2021, 9:22 PM Frankie Cancino <notifications@github.com>
wrote:

[2021-01-06 02:05] vanbenschoten opened #70 "Deploy matrixprofile library through conda"
**Is your feature request related to a problem? Please describe.**
Currently, conda users have no easy way of downloading the matrixprofile library. This is a problem both from an accessibility standpoint, and for various initiatives on the MPF roadmap.

**Describe the solution you'd like**
matrixprofile can be downloaded through `conda-install matrixprofile`

**Describe alternatives you've consid

[2021-01-06 16:03] nils-braun commented on #70
Thanks for bringing this up, @vanbenschoten!
I just want to mention that I am happy to support here (as I have already created two conda-forge feedstock repositories, for [dask-sql](https://github.com/conda-forge/dask-sql-feedstock) or [tsfresh](https://github.com/conda-forge/tsfresh-feedstock)), if you need any help

[2021-01-06 16:21] nils-braun opened #71 "`mp.compute` fails in tsfresh example data"
**Describe the bug**
When calling `mp.compute` on one timeseries of the robot example dataset (e.g. for id = 1), matrixprofile first throws a warning

[code]

and then raises an exception
[code]

Looking at the code, I think that `maximum_subsequence` returns a NaN when it has not found a window ([here](https://github.com/matrix-profile-foundation/matrixprofile/blob/master/matrixprofile/algorithms

[2021-01-06 16:27] vanbenschoten commented on #70
@nils-braun Will do! Appreciate the offer.

[2021-01-06 16:28] vanbenschoten commented on #71
@tylerwmarrs is digging into this.

[2021-01-06 17:02] vanbenschoten commented on #70
I'll be working on the conda-forge deployment [here](https://github.com/matrix-profile-foundation/staged-recipes)

[2021-01-06 19:30] vanbenschoten commented on #70
Ok, everything should be set in the 'matrixprofile' branch for upload - the only thing remaining is the SHA256 key. @tylerwmarrs do you know how we can get this from PyPi? I thought it would be under the general project description but I can't seem to locate it (also, feel free to look through the meta.yaml file as I added you as a conda-forge maintainer :)

Once the key is added, we'll be ready t

[2021-01-06 19:43] tylerwmarrs commented on #70
@vanbenschoten here is where you can get them. Notice that there is a key for EVERY package.

![image](https://user-images.githubusercontent.com/18449075/103812965-e969c580-5024-11eb-95ec-c44eb5d42c3a.png)

I found the instructions on this page:

https://conda-forge.org/docs/maintainer/adding_pkgs.html#meta-yaml

![image](https://user-images.githubusercontent.com/18449075/103813082-1ddd8180-5025-1

[2021-01-07 21:08] tylerwmarrs commented on #71
I think that the real issue here is that the threshold is set to 0.0 which will never be met. In my opinion, the real fix is to enforce realistic thresholds. Having the threshold be any number between 0 and 1 isn't very realistic for a cross correlation threshold. Maybe 0.5 to 1? What do you guys think? @nils-braun @vanbenschoten

As an aside, @nils-braun did you intentionally set the threshold to

[2021-01-07 21:16] nils-braun commented on #71
Sorry, I shouldn't have picked that example - my bad. It fails with every setting I tried - 0 was just the last one and I unintentionally posted this. Sorry for the confusion...

[2021-01-07 21:19] tylerwmarrs commented on #71
No worries at all! I still think that it is a valid issue. What do you think about adjusting the range validation?

[2021-01-07 21:25] vanbenschoten commented on #71
@tylerwmarrs I agree with restricting the threshold to > 0.5 (I might even go as high as 0.65 to speed up compute times, as I anticipate that users will leverage ever-larger timeseries moving forward)

[2021-01-07 23:10] vanbenschoten commented on #70
@nils-braun do you have any experience working with the `build.sh` or `bld.bat` files? Because matrixprofile leverages Cython and OpenMP, there are essential dependencies that need to be installed on the build machine.

Alternatively, I'm trying to find documentation on whether it's possible to upload _multiple_ packages (as referenced by Tyler above). That might be easier, but the one relevant li

[2021-01-08 16:37] nils-braun commented on #70
So I have never used `build.sh`, but I am not sure if you actually need it. Just to be sure we are all on the same page (I guess you have already read through the documentation, but let me quickly repeat):
* You out into the `meta.yaml` the source repository from pipy (the tar.gz.). On a release, you upload a new pipy tar.gz source repo (together with the wheel that you already upload I guess). Th

[2021-01-08 16:46] vanbenschoten commented on #70
Thanks @nils-braun! Super helpful. I had been looking at a couple of other
complex repos but hadn't caught the importance of the build.requirements
section of meta.yaml vs. build.sh.

I'm going to take another pass at this later today.

On Fri, Jan 8, 2021, 10:37 AM Nils Braun <notifications@github.com> wrote:

[2021-01-09 01:21] jacksongreen28 commented on #68
I was able to successfully get python 3.8 working using the commands above except for the final one. Here is the command I used:
[code]
This should create the symlinks

[2021-01-11 03:39] tylerwmarrs commented on #68
This is still an issue. I cannot seem to resolve it. The issue that I'm having is that when I try to make Python 3.8 as the default python version, cibuildwheel still tries to use Python 2.7 making it not work with the required version of cibuildwheel for building Python 3.9.

[2021-01-11 04:28] tylerwmarrs commented on #68
MacOSx is now building successfully against Python 3.5 to 3.9!!!!!!!

[2021-01-11 04:28] #68 closed

[2021-01-11 11:58] tylerwmarrs commented on #71
@nils-braun You suggested that we return a "nan" value for the tsfresh integration. Do you think that we can just throw a runtime exception or custom exception and catch it within the tsfresh integration? This, I feel, will help solve both issues without taking away from either goal.

So changes on my end would be:

1. Do not "warn" a user when the threshold is not met. Throw a "NoSolutionPossible

[2021-01-12 17:46] awilkins-hp opened #73 "PMP compatibility with string data types."
In the white paper "Matrix Profile XX: Finding and Visualizing Time Series Motifs of All Lengths using the Matrix Profile", section 3 demonstrates the Pan Matrix Profile with string data, however this capability is not included in the current implementation.

This shouldn't be too hard to implement.  The example looks for an identical string match, but Hamming distance (or some other distance metr

[2021-01-12 20:51] nils-braun commented on #71
I think raising an exception is totally fine! This is something we can handle in tsfresh and then deal with it (we already do this in other calculators).
Sorry, that was actually a misunderstanding: the currently called subfunction in matrixprofile returns a NaN (which currently causes the problem) - I do not think that returning NaN from matrixprofile would be the best thing here :-)

Concerning

[2021-01-13 23:15] vanbenschoten commented on #71
@nils-braun @tylerwmarrs given the recent PR merge, I'm going to close this issue. Feel free to re-open if you think more discussion is warranted.

[2021-01-13 23:15] #71 closed

[2021-01-14 01:46] tylerwmarrs commented on #71
@nils-braun @vanbenschoten and I chatted about the lower bounding threshold and felt that keeping it open as is makes the most sense. We do not really know the repercussion of enforcing such a range.

[2021-01-14 01:49] tylerwmarrs commented on #73
Based on our chat in discord, we could add a preprocessing function that allows you to convert string data to a numeric representation. There are some caveats to this approach as you may lose some meaning. There isn't really a nice way to provide a generic approach that works for all data sets.

@kavj mentioned this paper for reference:

[2021-01-14 17:56] AndrewWilkins84 commented on #73
I'd like to take a swing at this.  @tylerwmarrs, I agree that conversion to numerical values may not be the best approach.  I've done quite a bit of work already using SAX and Random Projection that uses string and character data types with no issue.  As stated in the Discord channel, the distance is measured by Hamming distance (number of corrections needed to make 2 strings identical).  This dis

[2021-01-14 21:47] tylerwmarrs commented on #73
Sounds good. Once you have some initial code in place, open a pull request and mention this issue. Dealing with string data is a new concept for this library, so we will need to make sure we fit it into the rest of the api accordingly.

[2021-01-15 13:21] tylerwmarrs commented on #70
@vanbenschoten I made some changes to the setup.py that should make the conda build easier. I also updated the recipes to link numpy and other cython related things as needed. I'll test later on to see if this resolves the issues.

Basically, the setup.py included relative imports and file manipulation, however, the way conda references files was making it blow up.

[2021-01-15 21:29] tylerwmarrs commented on #70
There is still an issue with importing the "version.py" file into "setup.py" during the conda build. I tested this locally in a similar fashion to the calls that conda makes and it works, but when deploying to conda, it fails.

[2021-01-16 13:36] tylerwmarrs commented on #70
I resolved the conda building issues. I noticed that they do not build for python 3.9. I wonder when they will support this. Right now only 3.6, 3.7, and 3.8 are building.

![image](https://user-images.githubusercontent.com/18449075/104813252-9b478580-57cd-11eb-947c-47ca006332a5.png)

[2021-01-16 13:57] tylerwmarrs commented on #70
@nils-braun and @vanbenschoten everything for conda is complete. Need conda to merge and we can close this issue.

https://github.com/conda-forge/staged-recipes/pull/13626

[2021-01-16 14:00] vanbenschoten commented on #70
@nils-braun do we need to tag someone on the conda-forge PR request, or will they automatically merge now that all tests pass?

[2021-01-16 14:14] nils-braun commented on #70
Nice to see this progressing!
Typically there is no need to tag someone, they are rather quick. See https://conda-forge.org/docs/maintainer/adding_pkgs.html#feedback-and-revision if they really do not react (but maybe give them some time)

[2021-01-18 20:51] tylerwmarrs commented on #70
My conda deployment was merged. Closing.

[2021-01-18 20:51] #70 closed

[2021-01-19 15:15] Sandy4321 commented on #15
when will be ready?

[2021-03-08 10:43] burk opened #75 "Strict dependency on protobuf 3.11.2"
**Describe the bug**

There still seems to be a strict dependency on protobuf 3.11.2, even though this commit seems to try to remove that strict version dependency: https://github.com/matrix-profile-foundation/matrixprofile/commit/37173af1904e761bda509de41cd4cfbeacf23fcd

I'm not able to lock the version of matrixprofile inside a pipenv with another library which requires protobuf >= 3.12.0

**To

[2021-03-08 10:51] burk commented on #75
I've identified the problem: https://github.com/matrix-profile-foundation/matrixprofile/pull/76

[2021-03-11 16:47] vanbenschoten commented on #75
@burk Thanks for the PR! Apologies as I've been a little delayed - I'll look at the change shortly.

[2021-03-11 21:13] vanbenschoten commented on #75
Corresponding PR approved and merged. Thanks!

[2021-03-11 21:13] #75 closed

[2021-04-06 02:38] zhouc-adrem opened #77 "fail to install by source code setup.py"
python setup.py install

logs
----------------
running install
running bdist_egg
running egg_info
writing matrixprofile.egg-info/PKG-INFO
writing dependency_links to matrixprofile.egg-info/dependency_links.txt
writing requirements to matrixprofile.egg-info/requires.txt
writing top-level names to matrixprofile.egg-info/top_level.txt
reading manifest template 'MANIFEST.in'
warning: no files found ma

[2021-04-06 03:00] zhouc-adrem commented on #77
Sorry, I found this issure has already solved my problem.
https://github.com/matrix-profile-foundation/matrixprofile/issues/2

[2021-04-06 03:10] zhouc-adrem commented on #77
python setup.py install
It looks like installed successfully, but ImportError comes out when I try to use it.

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-410f26ec7133> in <module>
     12 import statsmodels.api as sm
     13
---> 14 import matrixprofile as mp
     15 from p

[2021-04-11 09:17] TinaShi opened #78 "Threshold"
When I use mp.compute or mp.analyze, I get the error "NoSolutionPossible: Given the threshold {:.2f}, no window was found. Please try increasing your threshold." How do I adjust it?

[2021-04-20 09:12] RexKing6 opened #79 "The paper of mpx"
Can someone share the paper of mpx?

I can't find the related papers.

Thank you!!!

[2021-04-20 09:14] RexKing6 commented on #15
Hey, I have successfully completed my thesis. Now I have part of my time to help out. How can I start?

[2021-04-20 12:54] vanbenschoten commented on #15
@RexKing6 Congratulations! In terms of next steps, the next thing would be to review Yeh's original MSTAMP implementation (see above) and see if it can be directly leveraged in the matrixprofile package. I think we can focus on implementing MSTAMP at first, so feel free to open a PR and we can all collaborate on it (@asuhag had also mentioned interested).

[2021-04-20 12:56] vanbenschoten commented on #79
@RexKing6 IIRC there's no official MPX paper - it's an implementation approach that's baked into the MATLAB code from Eamonn's lab. @franzbischoff might be able to tell you more.

[2021-04-20 14:26] franzbischoff commented on #79
@RexKing6, like @vanbenschoten said, there is no published paper about it. Don't ask me why...
You can take a look at my last benchmarks here: https://rpubs.com/franzbischoff/matrixprofiler
mpx turns out to be the fastest and is also anytime. There is no "online" version (yet) though.

[2021-04-21 01:49] RexKing6 commented on #79
Thank you very much! I am going to learn its specific process from this benchmark test and the source code of mpx.

[2021-04-21 02:43] RexKing6 commented on #15
OK.

[2021-04-23 09:01] vanbenschoten commented on #78
@TinaShi I assume you're using the pan-Matrix Profile (aka not specifying a specific window size)? If that's the case then you'll need to change the compute parameter to something lower than the default value of 0.98 per the documentation: https://matrixprofile.docs.matrixprofile.org/api.html#matrixprofile-compute.

Feel free to re-open if you still think there's an issue here.

[2021-04-23 09:01] #78 closed

[2021-04-23 09:02] vanbenschoten commented on #79
@RexKing6 I'd also recommend e-mailing Eamonn Keogh directly as he's usually more than happy to discuss the algorithms in greater depth.

[2021-04-23 09:02] #79 closed

[2021-06-02 07:35] Samraw003 opened #80 "How to load my dataset?"
Hi,

Can you please help me upload my dataset from csv?

Regards

Sammeer

[2021-06-03 14:24] vanbenschoten commented on #80
Hi @Samraw003, can you provide the code that you are using to try to upload your data?

[2021-06-25 12:55] RexKing6 commented on #15
Hi, @vanbenschoten , I added mstomp (mstamp based on stomp) and its some test and created the the pull request. Moreover, I updated some annotations.

[2021-06-25 13:23] RexKing6 commented on #15
Oh, I found that I encountered two alerts, and the code that caused the two alerts is from  stomp.py. Should I modify them?

[2021-06-25 16:41] vanbenschoten commented on #15
The code or the alerts? Ideally the former :)

On Fri, Jun 25, 2021, 8:23 AM Run-Qing Chen ***@***.***>
wrote:

[2021-06-26 01:07] RexKing6 commented on #15
The code:
`            start = batch_windows[index][0]
            end = batch_windows[index][1]`
In the multi-thread loop, these two variables are not used. :)

[2021-06-26 01:57] vanbenschoten commented on #15
@RexKing6 after taking a look, I'm not worried by the warning, so I'll go ahead and merge. Thanks so much for the commit!! Really appreciate your work.

[2021-06-26 01:57] #15 closed

[2021-07-12 16:28] wendeldr opened #83 "The website (https://matrixprofile.org/) is down."
Hi

I didn't know where else to contact your group, it seems like your https://matrixprofile.org/ website is offline.  Just thought I'd let you guys know incase you didn't see it.

[2021-07-13 11:28] vanbenschoten commented on #83
Thanks @wendeldr! We're aware of the situation and actively working towards a resolution. Thanks for the heads up!

[2021-07-13 19:50] vanbenschoten commented on #83
Update: the website issue has been resolved and should be live in ~20 minutes. Thank you!

[2021-07-13 19:50] #83 closed

[2021-07-21 20:57] alexvorobiev commented on #75
Pypi version still has this restriction.

[2021-07-26 16:40] carlydf opened #84 "pip install matrixprofile forces protobuf==3.11.2"
**Describe the bug**
We need protobuf > 3.11.2 for other dependencies.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install matrixprofile
2. pip install --upgrade protobuf
Should install protobuf v3.17.3 which it does. It also errors saying `matrixprofile 1.1.10 requires protobuf==3.11.2, but you have protobuf 3.17.3 which is incompatible.` despite the fact that `matrixprofile/require

[2021-08-02 20:56] vanbenschoten commented on #84
Hi @carlydf, thanks for letting me know! I'll look into it shortly.

[2021-08-13 23:11] pedro-ricardo commented on #84
Hello there,

I'm currently with the same problem. Despite the `requirements.txt` shows a clear `protobuf>=3.11.2,<4.0.0` the pip install print out this error: `protobuf==3.11.2 (from matrixprofile==1.1.10` . . .

This happens because I have another dependency that needs `protobuf>=3.12.0`

### How to replicate:
- `$ python3 -m venv .venv`
- `$ source .venv/bin/activate`
- `$ pip3 install matrixpr

[2021-08-13 23:14] pedro-ricardo commented on #84
@vanbenschoten do you have an estimate to have this looked into?

[2021-08-15 22:11] vanbenschoten commented on #84
@pedro-ricardo not at the moment, though hopefully soon. If you'd like to create a PR I can also review :)

[2021-08-16 11:20] pedro-ricardo commented on #84
Thank you for the feedback. We'll find a workaround. :+1:

[2021-08-16 21:42] peterdhansen commented on #84
in the original issue, @carlydf pointed out the fix is already implemented, but no release has been published

for now `pip install git+ssh://git@github.com:matrix-profile-foundation/matrixprofile.git` will get you the github version with the correct requirements.txt

[2021-09-06 22:06] pedro-ricardo commented on #84
Installing through pip does solve the install issue.

But some dependency resolver, like the ones from Kedro, start to have bugs with this .. like:
[code]
This does not make sense at all .. and it is not your problem ...

But how far are we from releasing the master branch as `1.1.11` ?

[2021-11-17 09:29] theoohoho commented on #84
Got same issue on install `v1.1.10`. It would be really helpful if release a patch. 🙏

[2021-11-25 13:49] uabbas commented on #84
I would second this. A  release would be great.

[2021-12-16 16:46] pkla opened #85 "`matrixprofile.analyze()` raises AttributeError with `matplotlib==3.5.0`"
Running `matrixprofile.analyze()` causes `AttributeError: 'NoneType' object has no attribute 'get_subplotspec'` when matplotlib version 3.5.0 is installed. All plots seem to be shown correctly, but due to the exception, the function never returns. Upgrading to matplotlib 3.5.1 resolves the issue.

The matrixprofile package lists `matplotlib>=3.0.3` in `requirements.txt`. I haven't tested any other

[2021-12-17 11:30] RouvenG commented on #84
I would also be happy about a release!

[2022-01-10 03:20] yujia21 opened #86 "Add ability pass timestamps into profile to faciliate visualization"
When calling visualize on a profile, x axis values are numerical indexes. Would like to be able to pass a list of datetime values to profile, so that calling visualize on the profile will automatically plot all figures with list of datetime.

[2022-01-24 11:36] eliorc commented on #84
Still a problem

[2022-01-26 09:57] harryrose94 commented on #84
Would also be happy for a release please.

I am not trying to pip install matrixprofile, but rather I am using a package which has a dependency on matrixprofile. Either way the same problem occurs.

I have been able to resolve the protobuf==3.11.2 conflict by including the below in my personal projects setup.py file.

`install_requires=["matrixprofile @ git+https://git@github.com/matrix-profile-fo

[2022-02-09 15:38] tccf1109 opened #87 "Error installing matrixprofile with pip"
**Describe the bug**
I was trying to use tsfresh and began by installing it with pip install tsfresh command. During the command execution I got an error installing matrixprofile. I really would love to use tsfresh in my app, and deploy it in a Heroku server. However I can't solve this problem since I cannot install matrixprofile

**To Reproduce**
Steps to reproduce the behavior:
1. Install tsfres

[2022-02-28 12:31] kantic opened #88 "Motif discovery does only return one motif and the same neighbor multiple times"
**Describe the bug**
When I've tried to compute and discover motifs on my time series data, I noticed that the method `mp.discover.motifs` always returns only one motif and the same neighbor multiple times.

I've also tried to compute the motifs on the predefined "ecg-heartbeat-av" dataset by following exactly the steps as shown in [this example of the documentary](https://matrixprofile.docs.matri

[2022-02-28 16:41] kantic commented on #88
The problem is that in the documentation of the function `top_k_motifs` it is stated that the exclusion zone defaults to half of the window size. But later in the `mp_top_k_motifs` function, the value for `exclusion_zone` is read from the profile dict (under the key 'ez') generated by the `mpx` function, which sets this value to zero. This leads to the fact that the exclusion zones are not correct

[2022-03-04 09:50] gchlebus commented on #84
Would also be happy for a patch release please.

[2022-03-08 23:06] CharlesHolbrow opened #89 "Publish a version to pip that includes `mstomp` algorithm."
**Is your feature request related to a problem? Please describe.**
The most recent version of [matrixprofile on pip](https://pypi.org/project/matrixprofile/#history) is from January 2021. Since then , the `mstomp` algorithm was added to the official repo. The repo includes `mstomp` algorithm, but it's not available via `pip`

**Describe the solution you'd like**
Could you publish a newer version t

[2022-03-30 07:15] Lawiss opened #90 "Unable to install package - error: unsupported option '-fopenmp'"
**Describe the bug**
Hello,
I'm trying to install tsfresh==0.19.0 on my macOS 12.1 (arm) but the installation fail when installing matrixprofile, at build step with the folliwing error :
[code]

I tried with python 3.8 and 3.9, same error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a python 3.9 environment on macOS X 12.1 arm
2. conda install llvmlite (pip install fails)
3. pip i

[2022-04-13 17:24] lmmentel opened #91 "Support for python 3.10"
**Is your feature request related to a problem? Please describe.**
It would be great it `matrixprofile` could support python 3.10.

**Describe the solution you'd like**
It would be great it `matrixprofile` could support python 3.10.

**Describe alternatives you've considered**

**Additional context**

Although I can install `matrixprofile==1.1.10` with python 3.10 on linux, when I try to import I

[2022-05-11 09:21] tim-habitat commented on #84
A patch release would be amazing! A few downstream libraries depend on you guys and `protobuf` seem to be used quite a bit so conflicts arise often.

[2022-05-25 21:57] Jalanjii commented on #89
@CharlesHolbrow Did you find a way to accomplish this?

[2022-06-01 16:23] tomasApo commented on #91
Any traction on support for 3.10?

[2022-06-02 20:31] ekamperi commented on #84
Hey everyone! Any roadmap on this one? I just hit it myself. Thanks! Let me know if I could help somehow in testing!

[2022-07-29 15:13] jarhed commented on #90
I've fixed this by following the directions [here](https://matrixprofile.docs.matrixprofile.org/installation/Mac_OS_Installation.html#End-User-Installation) to install gcc and whatnot through brew then forced gcc to compile using:

`CC=gcc pip install matrixprofile`

Kinda proud of myself, this is way outside my wheelhouse :)

[2022-08-05 01:37] jackalack commented on #84
Also an issue for us. Has anyone found a workaround?

[2022-08-15 22:16] mdhannadr commented on #90
The solution above (`CC=gcc pip install matrixprofile`) did not work for me.

My problem was that I was attempting to install in a Python 3.10 environment and tsfresh only supports up to Python 3.9. I rolled my environment back to Python 3.9 and was able to install without any issues.

[2022-08-15 22:16] mdhanna commented on #90
The solution above (`CC=gcc pip install matrixprofile`) did not work for me.

My problem was that I was attempting to install in a Python 3.10 environment and tsfresh only supports up to Python 3.9. I rolled my environment back to Python 3.9 and was able to install without any issues.

[2022-08-19 12:59] rcyost opened #94 "AttributeError: module 'matrixprofile' has no attribute 'compute'"
**Describe the bug**
I am trying to follow along with this tutorial: https://matrixprofile.docs.matrixprofile.org/examples/ECG_Annotation_Vectors.html

When I try to run this code:
[code]

I immediately get this error:

'''
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
c:\Users\yosty\Desktop\D

[2022-08-19 13:01] rcyost commented on #94
It works now, not sure what was going on sorry

[2022-08-20 15:44] rcyost opened #95 "mpdist throws error"
**Describe the bug**
When using algorithms that rely on distance like hierarchical cluster or pairwise_dist I get an error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Given an time series array ts
2. '''mp.discover.hierarchical_clusters(ts, 52, t=1)'''

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2022-09-13 14:45] erezinman opened #96 "Setup installs the 'tests' package"
**Describe the bug**
During the installation, the use of the `find_packages()` function without any parameters causes the package `tests` to be installed. This is (possibly) an unintended behavior, and since almost every project repository contains a directory called "tests", this messes up with some IDEs and systems, and is generally prone to errors.

Since both the main package and the `tests` p

[2022-09-19 08:21] traddo commented on #90
vi setup.py
add
`
os.environ["CC"] = "/usr/local/Cellar/gcc/12.2.0/bin/g++-12"
os.environ["CXX"] = "/usr/local/Cellar/gcc/12.2.0/bin/g++-12"
`

add
`language="c++",`
into Extension(...)

[2022-09-20 15:02] beeb opened #97 "PEP517 install fails"
The install fails when building from source and using the `--use-pep517` option of `pip`.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -it --platform linux/arm64/v8 python:3.8 /bin/bash`
2. `pip install --use-pep517 matrixprofile`

**Expected behavior**
Build should succeed

**Desktop (please complete the following information):**
 - OS: Linux WSL2
 - Version `matrixprofile 1.

[2022-09-24 01:03] mend-bolt-for-github[bot] opened #98 "CVE-2022-1941 (Medium) detected in protobuf-3.17.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl"
## CVE-2022-1941 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>protobuf-3.17.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl</b></p></summary>

<p>Protocol Buffers</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/4c/53/ddcef002

[2022-09-26 22:21] jcoffi commented on #84
Can confirm, the issue still exists. Is this software even being actively managed anymore?

[2022-10-04 11:12] jonasvdd commented on #91
🙏🏼

[2022-10-06 19:16] franzbischoff commented on #98
@vanbenschoten ?

[2022-10-23 17:15] PengKuang commented on #87
(TFmacOS) (testenv) pengkuang@csadmins-MacBook-Pro as_activity_recognition % pip install matrixprofile
Collecting matrixprofile
  Using cached matrixprofile-1.1.10.tar.gz (331 kB)
Requirement already satisfied: numpy>=1.16.2 in /Users/pengkuang/miniconda3/lib/python3.9/site-packages (from matrixprofile) (1.23.4)
Requirement already satisfied: matplotlib>=3.0.3 in /Users/pengkuang/miniconda3/lib/py

[2022-10-23 17:16] PengKuang commented on #87
I experienced the same issue while I'm installing tsfresh, which is a dependency for tensorflow, and my python version is 3.9

[2022-10-25 10:12] PJPRoche opened #102 "New release version required to include removal of strict protobuf dependency"
**Describe the bug**

The latest tagged release is 1.1.10 and includes a pinned version of protobuf "protobuf==3.11.2" in the setup.py https://github.com/matrix-profile-foundation/matrixprofile/blob/ffe21d4077e89ce995e21be279460c2b3613bffc/setup.py#L71

The latest version of the matrixprofile code includes a critical change https://github.com/matrix-profile-foundation/matrixprofile/commit/e05b0493

[2022-11-02 22:12] CyrilLeMat commented on #91
I really need a 3.10 support if I want my project to continue using matrixprofile.
Is there absolutely no plan for such a support?

[2022-11-12 16:55] arturdaraujo commented on #102
I fully agree! I'm also having a lot dependence issues using conda-forge

[2022-11-17 20:52] arresejo commented on #90
The solution I've found was to downgrade the Python version to 3.10.8 using pyenv in order to easily manage multiple Python versions (useful resource: https://opensource.com/article/19/5/python-3-default-mac).

[2022-11-17 21:38] wormnail opened #104 "Trouble Understanding "Neighbors""
Hi all,
I'm a student using Matrix Profile to do time series comparisons, and I'm having a hard time understanding what "neighbors" are in MPF. I understand the concept of a "nearest neighbor" being a subsequence with the smallest Euclidean distance from a given subsequence, but there is an input to at least one MPF function called "maxneighbors." I couldn't find any explanation of this input on t

[2022-11-21 17:09] arturdaraujo commented on #102
Any new on this issue? @vanbenschoten

[2022-11-25 13:39] vanbenschoten commented on #84
This library is no longer actively maintained. We recommend using the STUMPY library moving forward: https://github.com/TDAmeritrade/stumpy

[2022-11-25 13:39] #84 closed

[2022-11-25 13:41] vanbenschoten commented on #102
This library is not actively maintained. Per conversations last year with tsfresh, matrixprofile can be moved to a dependency or have its functionality replaced with the stumpy library (which is already a tsfresh dependency).

[2022-11-25 13:41] #102 closed

[2022-11-25 13:42] vanbenschoten commented on #98
This library is not actively maintained. If this is a tsfresh-related issue, matrixprofile can be moved to a dependency or have its functionality replaced with the stumpy library (which is already a tsfresh dependency). Otherwise, the stumpy library itself should be able to replace any and all functionality.

[2022-11-25 13:42] #98 closed

[2022-11-25 13:43] vanbenschoten commented on #91
This library is not supported moving forward. We recommend using the STUMPY library instead, which is able to replace all functionality in this package (https://github.com/TDAmeritrade/stumpy)

[2022-11-25 13:43] #91 closed